{% extends "core.html" %}

{%- set page_title = "Sign in" -%}
{%- set page_heading = page_title -%}
{%- set current_path = url_for("auth.check_login") -%}
{%- set main_col_class = "ons-col-8@m" -%}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
        <h1>{{ page_heading }}</h1>

        <div class="ons-u-mb-m">
            {{
                onsPanel({
                    "id": "access-help-panel",
                    "body": "Contact <strong>" + contact_email + "</strong> for access to this PoC solution",
                    "spacious": false
                })
            }}
        </div>

        {% if errors %}
            <div class="ons-u-mb-m">
                {% call onsPanel({
                    "title": "There is a problem validating your credentials",
                    "variant": "error"
                }) %}
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endcall %}
            </div>
        {% endif %}

        <form method="POST" action="{{ url_for('auth.check_login') }}" novalidate>
            {{
                onsInput({
                    "id": "username",
                    "name": "username",
                    "type": "email",
                    "autocomplete": "email",
                    "searchButton": false,
                    "label": {
                        "text": "Email address"
                    },
                    "value": username | default("")
                })
            }}

            {{
                onsPassword({
                    "id": "password",
                    "name": "password",
                    "label": {
                        "text": "Password"
                    },
                    "searchButton": false
                })
            }}

            <br>
            {{
                onsButton({
                    "id": "login-button",
                    "text": "Login"
                })
            }}
        </form>
{% endblock %}
