FLASK_SECRET_KEY=replace-with-a-long-random-secret
SERVICE_NAME=ONS Flask Auth Template
AUTH_MODE=local
LOCAL_USERS_FILE=users.json
SESSION_COOKIE_SECURE=false
# When running in a container locally LOCAL_USERS_FILE=/app/users.json

# For Cloud Run / GCS auth file mode:
# AUTH_MODE=gcs
# GCP_AUTH_BUCKET_NAME=your-auth-bucket
# GCP_AUTH_BLOB_NAME=users.json
# SESSION_COOKIE_SECURE=true
